@import "@styles/_global.scss";

.container {
  @extend %section;
  position: relative;
  margin: 100px 0 150px;

  .wrapper {
    @extend %wrapper;

    &::before {
      @extend %wrapper-frame;
    }

    .title {
      @extend %title;
      @include pc {
        font-size: 20px;
      }
    }

    .showTitle {
      @extend %title;
    }

    .list {
      @extend %render-list;

      @include pc {
        height: 630px;
      }
    }

    .showList {
      @extend %render-list;
      height: 100%;

      @include pc {
        height: 630px;
      }
    }
  }

  .moreBtn {
    text-align: center;
    margin-top: 16px;

    & p {
      color: var(--basic-blue);
      font-size: 14px;
      font-weight: bold;
      
      &:hover {
        opacity: 0.7;
      }

      @include pc {
        font-size: 20px;
      }
    }
  }
}
